body
{
margin           : 0                     ;
font-family      : Open Sans, sans-serif ;
background-color : white            ;
overflow-x:hidden;
}

div#fejlec
{
background-color : #FFF                  ;
height           : 102px                 ;

}

a#cimerkep
{
display          : block                 ;
float            : left                  ;
margin           : 25px 40px             ;
text-decoration  : none                  ;
}

a#cimerkep img
{
height           : 48px                  ; 
}

div#belepes{
  float: right;
  margin-right: 30px;
}

div#menu
{

width            : 100%                ;
padding          : 26px 0                ;
font-size        : 15px                  ;
font-weight      : bold                  ;
line-height      : 22px                  ;
}


div#menu a
{
display          : inline-block          ;
width            : 120px                 ;
padding          : 14px 0                ;
text-align       : left                  ;
color            : #777                ;
text-decoration  : none                  ;
}

div#menu a:hover
{
  /*background-color : #009B77               ;
    color            : #FFF                  ;
  */
  background-color: white;  
    color: #009B77 ; 
}


div#belepes a
{
display          : inline-block          ;
width            : 30px                  ;
padding          : 14px 0                ;
padding-right    : 30px                  ; 
text-align       : center                ;
color            : #777                ;
text-decoration  : none                  ;
}

div#belepes a:hover
{
    background-color: white;  
    color: #009B77 ;         
}


.kilepesgomb{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 38px;
  
  

  
}
.kilepesgomb:hover{
  background-color: rgb(176, 202, 197);
  border-radius: 5px;
}



dbody 
{
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  background-color : #009B77               ;
}


h1{
    text-align: center;
    color : #009B77               ;

}
h2{
  text-align: center;
  color : #009B77               ;

}
h3{
  text-align: center;
  color : #777               ;

}
h4{
  text-align: center;
  color : #009B77               ;

}
p{
  text-align: center;
  color : #009B77               ;

}

div#tartalom
{
min-height       : 480px                 ;
max-width        : 1280px                ;
margin           : 12px auto             ;
padding          : 16px 80px 120px 80px  ;
}

div#tartalom h1
{
color            : #097                  ;
font-size        : 26px                  ;
font-weight      : normal                ;
}

div#szoveg
{
color            : #333                  ;
font-size        : 15px                  ;
line-height      : 23px                  ;
text-align       : justify               ;
}

div#szoveg img.kiskep
{
float            : right                 ;
border           : solid 1px #666        ;
border-radius    : 4px                   ;
box-shadow       : 2px 2px 1px #888      ;
}

div#szoveg ul li span
{
display          : inline-block          ;
width            : 200px                 ;
font-weight      : bold                  ;
}

div#szoveg a
{
text-decoration  : none                  ;
color            : #228                  ;
}

div#szoveg a:hover
{
text-decoration  : underline             ;
}

ul.valaszok
{
font-weight      : bold                  ;
}

span.adatcimke
{
display          : inline-block          ;
line-height      : 30px                  ;
width            : 120px                 ;
}

.subcontainer-1{
  color: #009B77;
  display:inline;
  text-align: center;
  width: 560px;
}

h2.alcim
{
font-style  : italic        ;
color       : #097          ;
}


p.bevezetes
{
font-style  : italic        ;
}

p.kerdes
{
margin      : 16px 0 0 16px ;
font-weight : bold          ;
}

p.valasz
{
margin      : 0 0 16px 16px ;
}


/*-----------------------------Alap vége-----------------------------------*/

form{
    width:35rem;
    margin: auto;
    color:#777;
    background-color: white;
    box-shadow: 0px 0px 3px 0px;
    padding: 5px 30px 5px 30px ;
    
    

}

 input{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
    border-color: #85bdb0,;
    
  } 

button {
    background-color: #009B77;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .loginFormContainer, .regFormContainer{
    display: flex;
    align-items: center;
    height: calc(100vh - 102px);
    justify-content: center;
    margin-top: 10px;
    
  }
  /*-----------------------------Form vége-----------------------------------*/

  /*-----------------------------pszichomokus eleje-----------------------------------*/
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: center;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mainImg {
    color: black;
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.headingText {
    font-size       : 25px;
    font-weight     : 700;
    line-height     : 34px;
    color           : #097;
    padding-top     : 0px;
    padding-right   : 10px;
    padding-bottom  : 0px;
    padding-left    : 10px;
    margin-top      : 0px;
    margin-right    : 0px;
    margin-bottom   : 10px;
    margin-left     : 0px;
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    width: 40%;
    margin: 0 0 0 0;
  }
  
  .text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .text-blk.description {
    font-size: 18px;
    line-height: 34px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }


  
 

  .site-footer
  {
    background-color:#26272b;
    padding:10px 0 10px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    margin-left: 10px;
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    justify-content: center;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}
	
::-webkit-datetime-edit-text { visibility:visible;}
::-webkit-datetime-edit-month-field { color: darkgreen; }
::-webkit-datetime-edit-day-field { color: darkgreen; }
::-webkit-datetime-edit-year-field { display: right; }
::-webkit-calendar-picker-indicator { display: right; }

.datepicker-vau {
  display: inline;
  position: relative;
  margin-left: 10px;
  width: 25%;
  height: 5.625rem;
}

.datepicker-vau {
  padding-left: 2rem !important;
}

.datepicker-vau::before{
  content:'Kérlek válaszd ki időpontodat!';
  position: relative;
  left:1.6rem;
  color: black;
}
.datepicker-vau::after{
  content:'';
}

.date{
  display: inline-block;
  margin: 50px
}

.text-date{
  display: inline-block;
  margin-left: 50px;
}


/*-----------------------------pszichomokus vége-----------------------------------*/




#kisablak{
    display: none;
}


